<div class="card">
    <div class="card__header">
        <h2 class="card__title">Zonas horarias disponibles</h2>
    </div>
    <div class="card__body">
        @if (datos) {
        <div class="timezone-list">
            @for (timezone of datos; track $index) {
            <div class="timezone-item" (click)="selectZone(timezone)">
                <span class="city">{{timezone.city}}</span>
                <span class="zone">({{timezone.zone}})</span>
            </div>
            }
        </div>
        }
    </div>
</div>