<div class="container">
    <div class="form-container">
        <h1 class="form-title">Crear Cuenta</h1>
        <form action="">
            <div class="form-group">
                <label for="txtName">Nombre</label>
                <input type="text" name="txtName" id="" placeholder="Ingrese el nombre completo">
            </div>
            <div class="form-group double">
                <div class="form-group">
                    <label for="txtPassword">Password</label>
                    <input type="text" name="txtPassword" id="" placeholder="Ingrese la contraseña">
                </div>
                <div class="form-group">
                    <label for="txtConfPwd">Confirm Password</label>
                    <input type="text" name="txtConfPwd" id="" placeholder="Confirme la contraseña">
                </div>
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="email" name="txtEmail" id="" placeholder="Ingrese email">
            </div>
            <button type="submit" class="btn-send">Crear Cuenta</button>
        </form>
        <div class="link-login">
            <a routerLink="/login">Ya tiene una cuenta? Inicia sesión</a>
        </div>
    </div>
</div>