<div class="dashboard">
    <aside class="sidebar" [class.closed]="!sidebarOpen">
        <div class="sidebar__header">
            <div class="sidebar__logo">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
            </div>
            <button class="sidebar-toggle" type="button" title="button menu" (click)="toggleSidebar()">
                <i class="fas fa-xl" [ngClass]="sidebarOpen ? 'fa-times' : 'fa-bars'"></i>
            </button>
        </div>
        <nav class="sidebar__nav">
            <a routerLink="/dashboard/weather" class="nav__item" routerLinkActive="active">
                <i class="fas fa-cloud-sun"></i>
                Weather
            </a>
            <a routerLink="/dashboard/users" class="nav__item" routerLinkActive="active">
                <i class="fas fa-users"></i>
                Usuarios
            </a>
            <a routerLink="/dashboard/users" class="nav__item" routerLinkActive="active">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Cerrar Sesión
            </a>
        </nav>
    </aside>

    <main class="main-content">
        <router-outlet></router-outlet>
    </main>
</div>